body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn-accent {
    background-color: #4E8D90;
    border-color: #007bff;
    color: #ffffff;
}

.btn-accent:hover {
    background-color: #3a6a6c;
    color: #ffffff;

}

.product-qty {
    width: 60px;
}

#cartItems {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    margin: 20px 0;
}

#cartItems td, #cartItems th {
    padding: 12px 20px;
    border: 1px solid #ddd;
    text-align: left;
}

#cartItems th {
    background-color: #f2f2f2;
    color: #333;
}

#cartItems tr:nth-child(even) {
    background-color: #f5f5f5;
}

#cartItems tr:hover {
    background-color: #e9e9e9;
}

.remove-product {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.product-quantity {
    width: 50px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    outline: none;
    transition: border-color 0.3s;
    font-size: 16px;
    background-color: #f5f5f5;
}

.product-quantity:focus {
    border-color: #007BFF;
    background-color: #ffffff;
}

/* Increment & Decrement buttons */
.decrease-quantity, .increase-quantity {
    padding: 5px;
    background-color: #6c757d;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.decrease-quantity:hover, .increase-quantity:hover {
    background-color: #5a6268;
}

