.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 28px;
}
.search-input {
    width: 300px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
}

.search-button {
    margin-left: -37px;
    border: 2px solid #ccc;
    border-radius: 30px;
    background-color: #5F9EA0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.search-button img {
    width: 20px;
    height: 20px;
}
.search-button:hover,
.search-button:focus {
    background-color: #4e8d8e;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden;  }
/*max-height: 240px;*/
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
