.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 2em;
}
.search-input {
    width: 300px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
}

.search-button {
    padding: 10px;
    margin-left: -40px;
    border: 2px solid #ccc;
    border-radius: 30px;
    background-color: #5F9EA0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.search-button img {
    width: 20px;
    height: 20px;
}
.search-button:hover,
.search-button:focus {
    background-color: #4e8d8e;
}