.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.search-input {
    width: 300px; /* Specify the width of your search bar */
    padding: 10px 20px; /* Padding for the input field */
    border: 2px solid #ccc; /* Border color */
    border-radius: 30px; /* Rounded border edges */
    font-size: 16px; /* Font size for the input */
    outline: none; /* Remove the default outline */
}

.search-button {
    padding: 10px;
    margin-left: -40px; /* Overlap the search button over the search input to maintain the rounded appearance */
    border: 2px solid #ccc;
    border-radius: 30px; /* Increased to create more rounded edges */
    background-color: #5F9EA0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.search-button img {
    width: 20px;
    height: 20px;
}
.search-button:hover,
.search-button:focus {
    background-color: #4e8d8e; /* Darker cadet blue on hover/focus */
}